.Navbar {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: space-between; /* Distributes items evenly along the main axis */
  align-items: center; /* Centers items vertically */
  padding: 10px 20px; /* Adjust padding as needed */
  margin-bottom: 1rem;
}

.navbar-nav {
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between nav links */
}

.navOption {
  font-size: 15px;
}

.navbar-search {
  display: flex;
  align-items: center; /* Centers items vertically */
  height: 2rem;
}

.navbar-search input[type="text"] {
  padding: 0px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px; /* Adjust spacing between input and button */
  height: 2rem;
}

.navbar-search button {
  background-color: #ffffff; /* Example button background color */
  color: white; /* Example button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 6px;
  height: 2rem;
  width: 2rem;
}
